<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The most important thing about having goals is having one. -Geoffrey F. Abert</string>
	<string>Three grand essentials to happiness in this life are something to do, something to love, and something to hope for. -Joseph Addison</string>
	<string>Contemplate thy powers, contemplate thy wants and thy connections; so shalt thou discover the duties of life, and be directed in all thy ways. -Akhenaton</string>
	<string>Far away there in the sunshine are my highest aspirations. I may not reach them, but I can look up and see their beauty, believe in them, and try to follow where they lead. -Louisa May Alcott</string>
	<string>The dreamers are the saviors of the world. -James Allen</string>
	<string>Above all be of single aim; have a legitimate and useful purpose, and devote yourself unreservedly to it. -James Allen</string>
	<string>All that a man achieves and all that he fails to achieve is the direct result of his own thoughts. -James Allen</string>
	<string>Seventy percent of success in life is showing up. -Woody Allen</string>
	<string>In health there is freedom. Health is the first of all liberties. -Henri Frederic Amiel</string>
	<string>A bird doesn&apos;t sing because it has an answer; it sings because it has a song. -Maya Angelou</string>
	<string>Turn right and you will never be left. -Anonymous</string>
	<string>We are what we repeatedly do. Excellence, then, is not an act, but a habit. -Aristotle</string>
	<string>Hope is a waking dream. -Aristotle</string>
	<string>The educated differ from the uneducated as much as the living from the dead. -Aristotle</string>
	<string>Man is a goal seeking animal. His life only has meaning if he is reaching out and striving for his goals. -Aristotle</string>
	<string>Friendship is composed of a single soul inhabiting two bodies. -Aristotle</string>
	<string>A man&apos;s true delight is to do the things he was made for. -Marcus Aurelius</string>
	<string>That which is not good for the bee-hive cannot be good for the bees. -Marcus Aurelius</string>
	<string>A man&apos;s worth is no greater than the worth of his ambitions. -Marcus Aurelius</string>
	<string>We have all a better guide in ourselves, if we would attend to it, than any other person can be. -Jane Austen</string>
	<string>Within each of us lies the power of our consent to health and sickness, to riches and poverty, to freedom and to slavery. It is we who control these, and not another. -Richard Bach</string>
	<string>Argue for your limitations and sure enough they&apos;re yours. -Richard Bach</string>
	<string>Here is a test to find out whether your mission in life is complete. If you&apos;re alive, it isn&apos;t. -Richard Bach</string>
	<string>There is no comparison between that which is lost by not succeeding, and that which is lost by not trying. -Francis Bacon</string>
	<string>We live in deeds, not years: In thoughts not breaths; in feelings, not in figures on a dial. We should count time by heartthrobs. He most lives who thinks most, feels the noblest, acts the best. -David Bailey</string>
	<string>The man who graduates today and stops learning tomorrow is uneducated the day after. -Newton D. Baker</string>
	<string>Nothing is a greater impediment to being on good terms with others than being at ill ease with yourself. -Balzac</string>
	<string>Proper preparation prevents poor performance. -Charlie Batch</string>
	<string>What this power is I cannot say; all I know is that it exists and it becomes available only when a man is in that state of mind in which he knows exactly what he wants and is fully determined not to quit until he finds it. -Alexander Graham Bell</string>
	<string>Life consists not in holding good cards, but in playing those you hold well. -Josh Billings</string>
	<string>There is no revenge so complete as forgiveness. -Josh Billings</string>
	<string>Be like a postage stamp. Stick to one thing until you get there. -Josh Billings</string>
	<string>Common sense is the knack of seeing things as they are, and doing things as they ought to be done. -Josh Billings</string>
	<string>You cannot raise a man up by calling him down. -William Boetcker</string>
	<string>A successful person is one who can lay a firm foundation with the bricks that others throw at him or her. -David Brinkley</string>
	<string>It is in vain to say human beings ought to be satisfied with tranquillity: they must have action; and they will make it if they cannot find it. -Charlotte Bronte</string>
	<string>The tragedy of life is not that a man loses, but that he almost wins. -Heywood Brown</string>
	<string>Destiny is not a matter of chance, it is a matter of choice; it is not a thing to be waited for, it is a thing to be achieved. -William Jennings Bryan</string>
	<string>To be idle is a short road to death and to be diligent is a way of life; foolish people are idle, wise people are diligent. -Buddha</string>
	<string>Someone&apos;s sitting in the shade today because someone planted a tree a long time ago. -Warren Buffett</string>
	<string>It&apos;s only when the tide goes out that you learn who&apos;s been swimming naked. -Warren Buffett</string>
	<string>You can never plan the future by the past. -Edmund Burke</string>
	<string>Look to the future, because that is where you&apos;ll spend the rest of your life. -George Burns</string>
	<string>You will never find time for anything. You must make it. -Charles Burton</string>
	<string>Change is the end result of all true learning. -Leo Buscaglia</string>
	<string>It&apos;s not enough to have lived. We should be determined to live for something. May I suggest that it be creating joy for others, sharing what we have for the betterment of personkind, bringing hope to the lost and love to the lonely. -Leo Buscaglia</string>
	<string>Change. It has the power to uplift, to heal, to stimulate, surprise, open new doors, bring fresh experience and create excitement in life. Certainly it is worth the risk. -Leo Buscaglia</string>
	<string>A man without a goal is like a ship without a rudder. -Thomas Carlyle</string>
	<string>If you don&apos;t know where you are going, you&apos;ll probably end up somewhere else. -Lewis Carroll</string>
	<string>That is happiness: to be dissolved into something completely great. -Willa Cather</string>
	<string>I think the first virtue is to restrain the tongue; he approaches nearest to gods who knows how to be silent, even though he is in the right. -Cato the Elder</string>
	<string>Life has a higher end, than to be amused. -William Ellery Channing</string>
	<string>The gem cannot be polished without friction, nor man perfected without trials. -Chinese Proverb</string>
	<string>The journey is the reward. -Chinese Proverb</string>
	<string>Deal with the faults of others as gently as with your own. -Chinese Proverb</string>
	<string>If you chase two rabbits, both will escape. -Chinese Proverb</string>
	<string>It is a mistake to try to look too far ahead. The chain of destiny can only be grasped one link at a time. -Winston Churchill</string>
	<string>Kites rise highest against the wind; not with it. -Winston Churchill</string>
	<string>We shall draw from the heart of suffering itself the means of inspiration and survival. -Winston Churchill</string>
	<string>The price of greatness is responsibility. -Winston Churchill</string>
	<string>It is better to be making the news than taking it; to be an actor rather than a critic. -Winston Churchill</string>
	<string>Success is never found. Failure is never fatal. Courage is the only thing. -Winston Churchill</string>
</array>
</plist>
